.page {
  width: 100%;
  /* we are not making mobile versions of websites yet, */
  /* so here we've set a minimum page width */
 
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
body{
  background-color: white;
  width: 100%;

overflow-x:hidden;  
}

.header {
  height: 110vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
}
.footer{
  margin-right: 100%;
  text-align: right;
}

.description{
  height: 100%;
  float:left; 
  width: 100%;
  text-align: left;

}
.content{
  height: 100vh;
  min-height: 100%;
  max-height:  100%;

}

.kaufman{
  text-align: right;
  height: 100vh;
  min-height: 100%;
  max-height:  100%;
  position: relative;
  
  


}
.numbers{
  font-size: 2em;
  font-weight: bolder;
  z-index: 10;
}
.textTable{
  display:inline;
  float:left; 
  width: 20%;
  text-align: left;
  font-size: 80%;
  color: white;
  height: 40%;
  
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
  position: relative;
  
  
}
.tringle{
  margin-right: O auto;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: auto;
  right: 0;
  rotate: 30deg;
  animation: Animation infinite ease-in;
	animation-name: Animation;
	animation-duration: 20s;
  


}
.table{
  width: 100%;
   margin: auto;
    height: 40%;  
   margin-bottom: auto;
    z-index: 10;
}
.headerDiv{
  position: absolute;
  background-color: #2F80ED;
  margin-top: auto;
  height: 600px;
  width: 600px;
  z-index: 2;
  right: 0;
  line-height: normal;
    display: inline-block;
    vertical-align: middle;
    animation: Animation infinite ease-in;
	animation-name: Animation;
	animation-duration: 20s;
}
.HeaderImage{
  position: absolute;
  height: 874px;
  width: 1038px;
  right: 0;
  z-index: 3;
  
}
.LastP{
  padding: 7%;
  padding-top: 50%;
}
@keyframes Animation{
  0%{
    transform: rotate(0);
  }
  100%{
       transform: rotate(360deg);
  }
}
.headerLogo{
  padding-top: 30px;
  padding-left: 64px;
  height: 32px ;
  width:143px;
}


