.header {
    height: 110vh;
    min-height: 600px;
    max-height: 756px;
    /* parameters for the header section */
  }
  .header_conteiner{
    height: 200%; 
    width: 100%; 
    position: relative;
  }