.header__subtitle{
    padding: 7%;
    margin-top: 600px;
  }
.header__title{
    vertical-align: middle;
    font-size: 8em;
    font-weight: bolder;
    padding: 7%;
    z-index: 999; 
    position: absolute;
}
